<!-- Need to remove this inline styling eventually -->
<div id="outer-map">
    <div id="map">
        <div id="map_container" style="position: relative; left: 0; top: 0;">
            <img id="bus_stops_overlay" src="/media/overlays/bus_stops_overlay.png" usemap="#image-map">
            <img id="campus_entrances_overlay" src="/media/overlays/campus_entrances_overlay.png" usemap="#image-map">
            <img id="employee_parking_overlay" src="/media/overlays/employee_parking_overlay.png" usemap="#image-map">
            <img id="first_aid_overlay" src="/media/overlays/first_aid_overlay.png" usemap="#image-map">
            <img id="food_services_overlay" src="/media/overlays/food_services_overlay.png" usemap="#image-map">
            <img id="handicap_overlay" src="/media/overlays/handicap_merged.png" usemap="#image-map">
            <img id="security_overlay" src="/media/overlays/security_overlay.png" usemap="#image-map">
            <img id="student_parking_overlay" src="/media/overlays/parking_merged.png" usemap="#image-map">
            <img id="visitor_parking_overlay" src="/media/overlays/visitor_parking_overlay.png" usemap="#image-map">
            <img id="bike_overlay" src="/media/overlays/bike_overlay.png" usemap="#image-map">
            <img id="electrical_vehicle_overlay" src="/media/overlays/ev_parking.png" usemap="#image-map">
            <img id="bike_repair_overlay" src="/media/overlays/bike_repair.png" usemap="#image-map">
            <img id="car_share_overlay" src="/media/overlays/car_share_parking.png" usemap="#image-map">
            <img id="pay_station_overlay" src="/media/overlays/paystation_overlay.png" usemap="#image-map">
            <img id="motorcycle_overlay" src="/media/overlays/motorcycle_overlay.png" usemap="#image-map">
            <img id="timing_overlay" src="/media/overlays/timing_merged.png" usemap="#image-map">
            <img id="image" src="/media/burnaby_campus_map.png" usemap="#image-map">
            <map id="image_map" name="image-map">
                <!-- Food Locations-->
                <area style="display:none" target="" class="food_icon_map" id="FI01" building="FI01" alt="NE01" full="J.W. Inglis Café, The Pavillion" title="NE01" href="#" coords="289,537,328,572" shape="rect">
                <area style="display:none" target="" class="food_icon_map" id="FI02" building="FI02" alt="SE01" full="E.T.C. Café, Grill & Co., Tim Hortons Express" title="SE01" href="#" coords="1232,255,1272,294" shape="rect">
                <area style="display:none" target="" class="food_icon_map" id="FI03" building="FI03" alt="SE06" full="The Rix Café" title="SE06" href="#" coords="1185,494,1224,537" shape="rect">
                <area style="display:none" target="" class="food_icon_map" id="FI04" building="FI04" alt="SE02" full="Habitat Pub, Market Kitchen, Poké Pick, The Rix Club, The Stand, Town Square Market, Triple O's" title="SE02" href="#" coords="1050,650,1089,689" shape="rect">
                <area style="display:none" target="" class="food_icon_map" id="FI05" building="FI05" alt="SE14" full="Booster Juice, Library Coffee Pod" title="SE14" href="#" coords="1615,507,1650,550" shape="rect">
                <area style="display:none" target="" class="food_icon_map" id="FI06" building="FI06" alt="SE12" full="All-Day Breakfast + Lunch, Austin Grill Express, Campus Café, Smokes Poutinerie, The Stand, Tim Hortons" title="SE12" href="#" coords="1519,733,1559,776" shape="rect">
                <area style="display:none" target="" class="food_icon_map" id="FI07" building="FI07" alt="SW01" full="Gateway Café, Gateway Deli" title="SW01" href="#" coords="1180,945,1215,980" shape="rect">
                <area style="display:none" target="" class="food_icon_map" id="FI08" building="FI08" alt="SE40" full="Royal Oak Café" title="SE40" href="#" coords="3433,225,3476,268" shape="rect">
                <area style="display:none" target="" class="food_icon_map" id="FI09" building="FI09" alt="CARI" full="CARI Café" title="CARI" href="#" coords="2528,1349,2572,1393" shape="rect">

            <!--            NE Buildings-->
                <area target="" class="NE Building" full="NE09 Building" id="NE09" building="NE09" alt="NE09" title="" href="#" coords="184,133,184,255,350,255,350,133,310,133,297,172,237,172,241,133" shape="poly">
                <area target="" class="NE Building" full="NE07 Building" id="NE07" building="NE07" alt="NE07" title="" href="#" coords="367,120,397,120,397,259,371,263" shape="poly">
                <area target="" class="NE Building" full="NE08 Building" id="NE08" building="NE08" alt="NE08" title="" href="#" coords="419,259,545,259,545,276,589,276,589,346,550,346,550,363,428,363" shape="poly">
                <area target="" class="NE Building" full="NE28 Building" id="NE28" building="NE28" alt="NE28" title="" href="#" coords="719,398,780,398,780,493,719,493" shape="poly">
                <area target="" class="NE Building" full="NE16 Building" id="NE16" building="NE16" alt="NE16" title="" href="#" coords="798,502,911,502,937,484,937,346,906,324,806,324" shape="poly">
                <area target="" class="NE Building" full="NE18 Building" id="NE18" building="NE18" alt="NE18" title="" href="#" coords="793,524,906,519,906,537,937,545,937,654,828,658,828,641,793,641" shape="poly">
                <area target="" class="NE Building" full="NE24 Building" id="NE24" building="NE24" alt="NE24" title="" href="#" coords="724,636,780,632,780,728,724,728" shape="poly">
                <area target="" class="NE Building" full="NE22 Building" id="NE22" building="NE22" alt="NE22" title="" href="#" coords="724,840,780,840,776,741,719,741" shape="poly">
                <area target="" class="NE Building" full="NE20 Building" id="NE20" building="NE20" alt="NE20" title="" href="#" coords="837,667,902,667,902,710,937,710,937,845,902,836,902,814,867,810,858,840,819,840,815,814,798,801,798,715,837,715" shape="poly">
                <area target="" class="NE Building" full="NE10 Building" id="NE10" building="NE10" alt="NE10" title="" href="#" coords="419,94,589,94,589,228,550,228,537,250,484,246,476,228,419,224" shape="poly">
                <area target="" class="NE Building" full="NE12 Building" id="NE12" building="NE12" alt="NE12" title="" href="#" coords="606,98,754,102,763,272,728,267,728,241,615,241" shape="poly">
                <area target="" class="NE Building" full="NE06 Building" id="NE06" building="NE06" alt="NE06" title="" href="#" coords="419,367,567,372,563,497,463,497,458,471,419,467" shape="poly">  
                <area target="" class="NE Building" full="NE01 building" id="NE01" building="NE01" alt="NE01" title="" href="#" coords="168,525,168,761,188,761,194,767,226,773,220,754,246,754,252,767,342,767,342,529,246,529,246,516,213,510" shape="poly">
                <area target="" class="NE Building" full="NE02 building" id="NE02" building="NE02" alt="NE02" title="" href="#" coords="478,691,423,691,423,808,564,808,564,716,478,716" shape="poly">
                <area target="" class="NE Building" full="NE04 building" id="NE04" building="NE04" alt="NE04" title="" href="#" coords="423,538,423,648,564,650,564,513,496,513,496,538" shape="poly">
                <area target="" class="NE Building" full="NE21 building" id="NE21" building="NE21" alt="NE21" title="" href="#" coords="588,746,649,746,649,845,588,845" shape="poly">
                <area target="" class="NE Building" full="NE23 building" id="NE23" building="NE23" alt="NE23" title="" href="#" coords="594,642,594,728,649,728,649,642" shape="poly">
                <area target="" class="NE Building" full="NE25 building" id="NE25" building="NE25" alt="NE25" title="" href="#" coords="582,489,582,612,649,612,649,489" shape="poly">
            <!--            NW Buildings-->
                <area target="" class="NW Building" full="NW01 building" id="NW01" building="NW01" alt="NW01" title="" href="#" coords="588,1077,588,1169,735,1169,735,1077" shape="poly">
                <area target="" class="NW Building" full="NW03 building" id="NW03" building="NW03" alt="NW03" title="" href="#" coords="454,912,454,1041,570,1041,570,912" shape="poly">
                <area target="" class="NW Building" full="NW05 building" id="NW05" building="NW05" alt="NW05" title="" href="#" coords="711,893,760,893,760,966,711,966" shape="poly">
                <area target="" class="NW Building" full="NW06 building" id="NW06" building="NW06" alt="NW06" title="" href="#" coords="937,880,937,991,772,991,772,880" shape="poly">
                
            <!--            SE Buildings-->
                <area target="" class="SE Building" full="SE19 Building" id="SE19" building="SE19" alt="SE19" title="" href="#" coords="1732,143,1868,243" shape="rect">
                <area target="" class="SE Building" full="SE30 Building" id="SE30" building="SE30" alt="SE30" title="" href="#" coords="2530,179,2659,258" shape="rect">
                <area target="" class="SE Building" full="SE40 Building" id="SE40" building="SE40" alt="SE40" title="" href="#" coords="3411,163,3407,249,3429,249,3429,265,3479,265,3479,249,3497,249,3500,163" shape="poly">
                <area target="" class="SE Building" full="SE41 Building" id="SE41" building="SE41" alt="SE41" title="" href="#" coords="3304,251,3361,372" shape="rect">
                <area target="" class="SE Building" full="SE42 Building" id="SE42" building="SE42" alt="SE42" title="" href="#" coords="3393,357,3393,407,3468,407,3525,364,3525,285,3479,289,3483,339,3457,357" shape="poly">
                <area target="" class="SE Building" full="SE50 Building" id="SE50" building="SE50" alt="SE50" title="" href="#" coords="3679,174,3679,239,3647,239,3647,296,3726,292,3730,303,3776,303,3776,289,3801,289,3805,235,3762,235,3783,231,3783,217,3787,217,3790,203,3787,189,3765,174" shape="poly">
                <area target="" class="SE Building" full="SE01 Building" id="SE01" building="SE01" alt="SE01" title="" href="#" coords="1331,237,1127,235,1127,246,973,247,973,309,1048,309,1069,330,1048,363,1059,377,1073,370,1080,377,1091,377,1102,391,1116,381,1130,377,1137,363,1177,359,1184,338,1295,338,1306,302,1313,280,1331,284" shape="poly">
                <area target="" class="SE Building" full="SE04 Building" id="SE04" building="SE04" alt="SE04" title="" href="#" coords="1123,434,1019,434,1019,462,1037,466,1041,530,1130,534,1130,484,1120,484,1130,484" shape="poly">
                <area target="" class="SE Building" full="SE02 Building" id="SE02" building="SE02" alt="SE02" title="" href="#" coords="1159,566,1009,563,1009,703,987,703,995,760,980,764,977,810,1156,814,1152,771,1141,771,1138,645,1156,641" shape="poly">
                <area target="" class="SE Building" full="SE06 Building" id="SE06" building="SE06" alt="SE06" title="" href="#" coords="1166,419,1238,419,1238,563,1267,563,1267,649,1163,649" shape="poly">
                <area target="" class="SE Building" full="SE09 Building" id="SE09" building="SE09" alt="SE09" title="" href="#" coords="1338,681,1392,720" shape="rect">
                <area target="" class="SE Building" full="SE08 Building" id="SE08" building="SE08" alt="SE08" title="" href="#" coords="1335,681,1209,681,1209,713,1166,713,1166,749,1202,749,1206,792,1331,788" shape="poly">
                <area target="" class="SE Building" full="SE12 Building" id="SE12" building="SE12" alt="SE12" title="" href="#" coords="1338,724,1639,727,1643,799,1338,799" shape="poly">
                <area target="" class="SE Building" full="SE14 Building" id="SE14" building="SE14" alt="SE14" title="" href="#" coords="1567,720,1567,670,1600,670,1596,505,1610,505,1610,487,1625,487,1625,505,1668,505,1674,681,1631,678,1632,720" shape="poly">
                <area target="" class="SE Building" full="SE10 Building" id="SE10" building="SE10" alt="fdsfsd" title="" href="#" coords="1495,487,1528,487,1528,508,1549,508,1546,530,1556,530,1556,601,1571,623,1571,666,1492,669,1492,601,1474,601,1474,512,1495,508" shape="poly">
                <area target="" class="SE Building" full="SE16 Building" id="SE16" building="SE16" alt="SE16" title="" href="#" coords="1800,482,1800,580,1800,616,1778,632,1742,632,1742,715,1753,715,1750,736,1764,740,1764,754,1900,754,1904,747,1954,743,1954,718,1964,718,1961,708,1986,708,1982,682,1964,675,1964,647,1911,643,1911,614,1932,611,1936,546,1868,546,1864,495,1828,495,1828,484" shape="poly">
            <!--            SW Buildings-->
                <area target="" class="SW Building" full="SW01 Building" id="SW01" building="SW01" alt="SW01" title="" href="#" coords="1338,923,1334,838,1302,838,1302,879,1270,877,1270,841,1105,838,1105,895,1119,897,1119,927,1048,927,1026,954,1044,988,1084,991,1087,1102,1073,1144,1141,1133,1316,1135,1313,1020,1298,995,1349,999,1363,959,1356,934" shape="poly">
                <area target="" class="SW Building" full="SW02 Building" id="SW02" building="SW02" alt="SW02" title="" href="#" coords="1313,1083,1313,1112,1345,1141,1370,1141,1399,1108,1442,1098,1406,1090,1352,1040" shape="poly">
                <area target="" class="SW Building" full="SW03 Building" id="SW03" building="SW03" alt="SW03" title="" href="#" coords="1574,1105,1574,1148,1488,1148,1470,1148,1449,1133,1427,1087,1420,983,1356,983,1367,937,1427,935,1424,818,1445,811,1445,786,1492,797,1499,962,1481,983,1481,1098,1546,1090" shape="poly">
                <area target="" class="SW Building" full="SW05 Building" id="SW05" building="SW05" alt="SW05" title="" href="#" coords="1520,933,1542,929,1563,921,1563,945,1599,940,1610,972,1599,1008,1578,999,1560,1019,1542,1015,1528,1002,1524,977" shape="poly">
                <area target="" class="SW Building" full="SW09 Building" id="SW09" building="SW09" alt="SW09" title="" href="#" coords="1836,857,1986,860,1986,1018,1975,1036,1975,1071,1993,1079,1993,1147,1832,1150" shape="poly">
                <area target="" class="SW Building" full="SW10 Building" id="SW10" building="SW10" alt="SW10" title="" href="#" coords="2244,768,2233,776,2179,776,2176,797,2186,829,2222,833,2272,818,2276,768" shape="poly">
                <area target="" class="SW Building" full="SW11 Building" id="SW11" building="SW11" alt="SW11" title="" href="#" coords="2380,869,2344,861,2330,878,2283,872,2280,897,2294,935,2330,926,2376,925" shape="poly">
                <area target="" class="SW Building" full="SW12 Building" id="SW12" building="SW12" alt="SW12" title="" href="#" coords="2423,747,2383,747,2369,754,2315,754,2312,783,2333,811,2365,808,2416,797" shape="poly">
                <area target="" class="SW Building" full="SW13 Building" id="SW13" building="SW13" alt="SW13" title="" href="#" coords="2527,828,2487,828,2480,842,2426,839,2423,860,2433,900,2473,896,2516,889" shape="poly">
                <area target="" class="SW Building" full="SW14 Building" id="SW14" building="SW14" alt="SW14" title="" href="#" coords="2559,730,2523,730,2509,748,2466,737,2459,759,2469,803,2501,795,2552,787" shape="poly">
                <area target="" class="SW Building" full="SW15 Building" id="SW15" building="SW15" alt="SW15" title="" href="#" coords="2638,826,2620,836,2577,833,2566,858,2580,894,2623,894,2666,886,2673,826" shape="poly">
                <area target="" class="SW Building" full="SW16 Building" id="SW16" building="SW16" alt="SW16" title="" href="#" coords="2702,718,2666,718,2652,736,2602,725,2602,747,2609,783,2645,783,2691,776" shape="poly">
            <!--            CARI Building-->
                <area target="" class="CARI Building" full="CARI Building" id="CARI" building="CARI" alt="CARI" title="" href="#" coords="2437,1306,2487,1267,2530,1317,2570,1317,2638,1249,2695,1303,2723,1271,2817,1364,2709,1468,2688,1446,2630,1503,2573,1439,2534,1439,2484,1493,2437,1450,2494,1396,2491,1360" shape="poly">
            <!--            Bus Stops-->
                <area target="" data-key="BetaE" class="bus" full ="" id="BetaE" building="BetaE" alt="BetaE" href="#" coords="131,21,171,64" shape="rect">
                <area target="" data-key="BetaW" class="bus" full ="" id="" building="BetaW" alt="BetaW"  href="#" coords="35,186,74,229" shape="rect">
                <area target="" data-key="WillingdonWB" class="bus" full ="" id="WillingdonWB" building="WillingdonWB" alt="WillingdonWB" href="#" coords="24,854,63,894" shape="rect">
                <area target="" data-key="WillingdonEB" class="bus" full ="" id="WillingdonEB" building="WillingdonEB" alt="WillingdonEB" href="#" coords="88,1153,124,1192" shape="rect">
                <area target="" data-key="WillingdonEB" class="bus" full ="" id="CanadaN" building="CanadaN" alt="CanadaN" href="#" coords="260,1229,303,1265" shape="rect">
                <area target="" data-key="CanadaS" class="bus" full ="" id="CanadaS" building="CanadaS" alt="CanadaS" href="#" coords="260,1336,300,1376" shape="rect">
                <area target="" data-key="GoardN" class="bus" full ="" id="GoardN" building="GoardN" alt="GoardN" href="#" coords="1112,1255,1155,1296" shape="rect">
                <area target="" data-key="GoardS" class="bus" full ="" id="GoardS" building="GoardS" alt="GoardS" href="#" coords="1112,1342,1152,1382" shape="rect">
                <area target="" data-key="SandersonS" class="bus" full ="Test" id="SandersonS" building="SandersonS" alt="SandersonS" title="SandersonS" href="#" coords="2093,1327,2136,1366" shape="rect">
                <area target="" data-key="MathissiE" class="bus" full ="" id="MathissiE" building="MathissiE" alt="MathissiE" href="#" coords="2244,1534,2287,1574"  shape="rect">
                <area target="" data-key="SandersonN" class="bus" full ="" id="SandersonN" building="SandersonN" alt="SandersonN" href="#" coords="2165,1194,2204,1234" shape="rect">
                <area target="" data-key="DeerN" class="bus" full ="" id="DeerN" building="DeerN" alt="DeerN" href="#" coords="3483,1045,3522,1088" shape="rect">
                <area target="" data-key="WillingdonED" class="bus" full ="" id="WillingdonED" building="WillingdonED" alt="WillingdonED"href="#" coords="3665,943,3708,982" shape="rect">
                <area target="" data-key="WayburneWD" class="bus" full ="" id="WayburneWD" building="WayburneWD" alt="WayburneWD" href="#" coords="3901,191,3941,231" shape="rect">

            <!-- Parking lots -->
                <area target="" class="sparking" id="LOTA"   full="LOT A" building="LOTA"   lot-key="LOTA"    alt="LOT A"  title=""  href="#" coords="776,106,955,285" shape="rect">
                <area target="" class="sparking" id="LOTB"   full="LOT B" building="LOTB"   lot-key="LOTB"    alt="LOT B"  title=""  href="#" coords="983,119,1234,205" shape="rect">
                <area target="" class="sparking" id="LOTD"   full="LOT D" building="LOTD"   lot-key="LOTD"    alt="LOT D"  title=""  href="#" coords="1936,214,2190,367" shape="rect">
                <area target="" class="sparking" id="LOTF"   full="LOT F" building="LOTF"   lot-key="LOTF"    alt="LOT F"  title=""  href="#" coords="2226,212,2487,363" shape="rect">
                <area target="" class="sparking" id="LOTE"   full="LOT E" building="LOTE"   lot-key="LOTE"    alt="LOT E"  title=""  href="#" coords="1911,132,2501,186" shape="rect">
                <area target="" class="sparking" id="LOTG"   full="LOT G" building="LOTG"   lot-key="LOTG"    alt="LOT G"  title=""  href="#" coords="2530,129,2863,175" shape="rect">
                <area target="" class="sparking" id="LOTK"   full="LOT K" building="LOTK"   lot-key="LOTK"    alt="LOT K"  title=""  href="#" coords="2795,545,2870,749" shape="rect">
                <area target="" class="sparking" id="LOTL"   full="LOT L" building="LOTL"   lot-key="LOTL"    alt="LOT L"  title=""  href="#" coords="2888,536,2888,761,3182,772,3185,697,3060,539" shape="poly">
                <area target="" class="sparking" id="LOTJ"   full="LOT J" building="LOTJ"   lot-key="LOTJ"    alt="LOT J"  title=""  href="#" coords="2874,910,2809,810" shape="rect">
                <area target="" class="sparking" id="LOTN"   full="LOT N" building="LOTN"   lot-key="LOTN"    alt="LOT N"  title=""  href="#" coords="3500,938,2687,934,2684,1009,2512,1031,2340,1059,2147,1153,2154,1181,2365,1095,2523,1067,2695,1049,3160,1052,3167,1024,3504,1024" shape="poly">
                <area target="" class="sparking" id="LOTQ"   full="LOT Q" building="LOTQ"   lot-key="LOTQ"    alt="LOT Q"  title=""  href="#" coords="160,965,396,1180" shape="rect">
                <area target="" class="sparking" id="LOTS"   full="LOT S" building="LOTS"   lot-key="LOTS"    alt="LOT S"  title=""  href="#" coords="2817,1285,2885,1349" shape="rect">
                <area target="" class="sparking" id="LOTS2"  full="LOT S" building="LOTS2"  lot-key="LOTS2"   alt="LOT S2" title="" href="#" coords="2294,1382,2365,1460" shape="rect">
                <area target="" class="sparking" id="LOTM"   full="LOT M" building="LOTM"   lot-key="LOTM"    alt="LOT M"  title=""  href="#" coords="3185,900,2913,832" shape="rect">
                <area target="" class="sparking" id="LOTH"   full="LOT H" building="LOTH"   lot-key="LOTH"    alt="LOT H"  title=""  href="#" coords="2745,185,2860,396" shape="rect">
                <area target="" class="sparking" id="LOTO"   full="LOT O" building="LOTO"   lot-key="LOTO"    alt="LOT O"  title=""  href="#" coords="3411,483,3597,487,3708,540,3615,694" shape="poly">
            <!-- student housing parking-->
                <area target="" class="parking" id="house"  full="Student Housing Parking" building="house"  parking-key="Student Housing Parking"  alt="STUDENT HOUSING PARKING" title="" href="#" coords="2333,976,2344,1048,2530,1015,2673,997,2681,915,2509,933" shape="poly">
            <!-- accessible parking icons-->
                <area target="" class="aparking" id="HC01" full="accessible parking 1" building="HC01" accessible-key="HC01" alt="HC01" title="" href="#" coords="164,257,210,299" shape="rect">
                <area target="" class="aparking" id="HC02" full="accessible parking 2" building="HC02" accessible-key="HC02" alt="HC02" title="" href="#" coords="124,482,167,521" shape="rect">
                <area target="" class="aparking" id="HC03" full="accessible parking 3" building="HC03" accessible-key="HC03" alt="HC03" title="" href="#" coords="339,645,389,703" shape="rect">
                <area target="" class="aparking" id="HC04" full="accessible parking 4" building="HC04" accessible-key="HC04" alt="HC04" title="" href="#" coords="181,786,239,829" shape="rect">
                <area target="" class="aparking" id="HC05" full="accessible parking 5" building="HC05" accessible-key="HC05" alt="HC05" title="" href="#" coords="421,1052,482,1110" shape="rect">
                <area target="" class="aparking" id="HC06" full="accessible parking 6" building="HC06" accessible-key="HC06" alt="HC06" title="" href="#" coords="557,1222,618,1275" shape="rect">
                <area target="" class="aparking" id="HC07" full="accessible parking 7" building="HC07" accessible-key="HC07" alt="HC07" title="" href="#" coords="1019,1036,1080,1093" shape="rect">
                <area target="" class="aparking" id="HC08" full="accessible parking 8 " building="HC08" accessible-key="HC08" alt="HC08" title="" href="#" coords="1177,1222,1248,1279" shape="rect">
                <area target="" class="aparking" id="HC09" full="accessible parking 9" building="HC09" accessible-key="HC09" alt="HC09" title="" href="#" coords="1241,780,1306,845" shape="rect">
                <area target="" class="aparking" id="HC10" full="accessible parking 10" building="HC10" accessible-key="HC10" alt="HC10" title="" href="#" coords="869,280,940,327" shape="rect">
                <area target="" class="aparking" id="HC11" full="accessible parking" building="HC11" accessible-key="HC11" alt="HC11" title="" href="#" coords="1270,338,1331,406" shape="rect">
                <area target="" class="aparking" id="HC12" full="accessible parking" building="HC12" accessible-key="HC12" alt="HC12" title="" href="#" coords="1367,523,1409,569" shape="rect">
                <area target="" class="aparking" id="HC13" full="accessible parking" building="HC13" accessible-key="HC13" alt="HC13" title="" href="#" coords="1442,613,1506,678" shape="rect">
                <area target="" class="aparking" id="HC14" full="accessible parking" building="HC14" accessible-key="HC14" alt="HC14" title="" href="#" coords="1803,1170,1875,1238" shape="rect">
                <area target="" class="aparking" id="HC15" full="accessible parking" building="HC15" accessible-key="HC15" alt="HC15" title="" href="#" coords="1699,421,1753,486" shape="rect">
                <area target="" class="aparking" id="HC16" full="accessible parking" building="HC16" accessible-key="HC16" alt="HC16" title="" href="#" coords="1929,326,2000,390" shape="rect">
                <area target="" class="aparking" id="HC17" full="accessible parking" building="HC17" accessible-key="HC17" alt="HC17" title="" href="#" coords="2079,321,2151,385" shape="rect">
                <area target="" class="aparking" id="HC18" full="accessible parking" building="HC18" accessible-key="HC18" alt="HC18" title="" href="#" coords="2330,954,2412,1012" shape="rect">
                <area target="" class="aparking" id="HC19" full="accessible parking" building="HC19" accessible-key="HC19" alt="HC19" title="" href="#" coords="2530,1223,2612,1287" shape="rect">
                <area target="" class="aparking" id="HC20" full="accessible parking" building="HC20" accessible-key="HC20" alt="HC20" title="" href="#" coords="2387,1340,2459,1408" shape="rect">
                <area target="" class="aparking" id="HC21" full="accessible parking" building="HC21" accessible-key="HC21" alt="HC21" title="" href="#" coords="2369,1436,2433,1479" shape="rect">
                <area target="" class="aparking" id="HC22" full="accessible parking" building="HC22" accessible-key="HC22" alt="HC22" title="" href="#" coords="2523,1466,2609,1538" shape="rect">
                <area target="" class="aparking" id="HC23" full="accessible parking" building="HC23" accessible-key="HC23" alt="HC23" title="" href="#" coords="2448,200,2512,261" shape="rect">
                <area target="" class="aparking" id="HC24" full="accessible parking" building="HC24" accessible-key="HC24" alt="HC24" title="" href="#" coords="3300,189,3372,257" shape="rect">
                <area target="" class="aparking" id="HC25" full="accessible parking" building="HC25" accessible-key="HC25" alt="HC25" title="" href="#" coords="3307,403,3375,468" shape="rect">
                <area target="" class="aparking" id="HC26" full="accessible parking" building="HC26" accessible-key="HC26" alt="HC26" title="" href="#" coords="3511,148,3554,187" shape="rect">
            <!-- Electrical vehical,carshare,bike repair areas-->
                <area target="" class="ev_parking" id="EV1" full="Electric Charging" building="EV1" electric-key="EV1" alt="EV1" title="" href="#" coords="178,243,249,301" shape="rect">
                <area target="" class="ev_parking" id="EV2" full="Electric Charging" building="EV2" electric-key="EV2" alt="EV2" title="" href="#" coords="339,480,403,540" shape="rect">
                <area target="" class="ev_parking" id="EV3" full="Electric Charging" building="EV3" electric-key="EV3" alt="EV3" title="" href="#" coords="1066,1262,1001,1198" shape="rect">
                <area target="" class="ev_parking" id="EV4" full="Electric Charging" building="EV4" electric-key="EV4" alt="EV4" title="" href="#" coords="2523,1244,2587,1305" shape="rect">
                <area target="" class="ev_parking" id="EV5" full="Electric Charging" building="EV5" electric-key="EV5" alt="EV5" title="" href="#" coords="1520,344,1603,397" shape="rect">
                <area target="" class="cs_parking" id="CS1" full="Car Share"         building="CS1" share-parking-key= "CS1" alt="CS1" title="" href="#" coords="156,1129,224,1200" shape="rect">
                <area target="" class="cs_parking" id="CS2" full="Car Share"         building="CS2" share-parking-key= "CS2" alt="CS2" title="" href="#" coords="973,82,1048,150" shape="rect">
                <area target="" class="cs_parking" id="CS3" full="Car Share"         building="CS3" share-parking-key= "CS3" alt="CS3" title="" href="#" coords="1921,252,2004,320" shape="rect">
                <area target="" class="br_parking" id="BR1" full="Bike Repair"       building="BR1" bike-key="BR1" alt="BR1" title="" href="#" coords="167,747,224,808" shape="rect">
                <area target="" class="br_parking" id="BR2" full="Bike Repair"       building="BR2" bike-key="BR2" alt="BR2" title="" href="#" coords="1112,752,1184,809" shape="rect">
                <area target="" class="br_parking" id="BR3" full="Bike Repair"       building="BR3" bike-key="BR3" alt="BR3" title="" href="#" coords="1503,1028,1571,1093" shape="rect">
                <area target="" class="br_parking" id="BR4" full="Bike Repair"       building="BR4" bike-key="BR4" alt="BR4" title="" href="#" coords="1954,623,2025,691" shape="rect">
            

            <!-- pay station and motorcycles -->
                <area target="" class="mc_parking" id="MC1"  full= "motorcycle parking" building = "MC1"  motorcycle-key= "MC1" alt="MC1"  title="" href="" coords="110,604,156,647" shape="rect">
                <area target="" class="mc_parking" id="MC2"  full= "motorcycle parking" building = "MC2"  motorcycle-key= "MC2" alt="MC2"  title="" href="" coords="110,668,160,704" shape="rect">
                <area target="" class="mc_parking" id="MC3"  full= "motorcycle parking" building = "MC3"  motorcycle-key= "MC3" alt="MC3"  title="" href="" coords="1771,1055,1814,1094" shape="rect">
                <area target="" class="mc_parking" id="MC4"  full= "motorcycle parking" building = "MC4"  motorcycle-key= "MC4" alt="MC4"  title="" href="" coords="1710,416,1757,459" shape="rect">
                <area target="" class="mc_parking" id="MC5"  full= "motorcycle parking" building = "MC5"  motorcycle-key= "MC5" alt="MC5"  title="" href="" coords="822,237,876,284" shape="rect">
                <area target="" class="mc_parking" id="MC6"  full= "motorcycle parking" building = "MC6"  motorcycle-key= "MC6" alt="MC6"  title="" href="" coords="368,857,418,900" shape="rect">
                <area target="" class="mc_parking" id="MC7"  full= "motorcycle parking" building = "MC7"  motorcycle-key= "MC7" alt="MC7"  title="" href="" coords="2394,1401,2437,1451" shape="rect">
                <area target="" class="mc_parking" id="MC8"  full= "motorcycle parking" building = "MC8"  motorcycle-key= "MC8" alt="MC8"  title="" href="" coords="280,432,327,478" shape="rect">
                <area target="" class="ps_parking" id="PS1"  full= "pay station"        building = "PS1"  paystation-key= "PS1" alt="PS1"  title="" href="" coords="199,402,260,449" shape="rect">
                <area target="" class="ps_parking" id="PS2"  full= "pay station"        building = "PS2"  paystation-key= "PS2" alt="PS2"  title="" href="" coords="224,772,282,811" shape="rect">
                <area target="" class="ps_parking" id="PS3"  full= "pay station"        building = "PS3"  paystation-key= "PS3" alt="PS3"  title="" href="" coords="958,222,1012,265" shape="rect">
                <area target="" class="ps_parking" id="PS4"  full= "pay station"        building = "PS4"  paystation-key= "PS4" alt="PS4"  title="" href="" coords="1309,420,1374,477" shape="rect">
                <area target="" class="ps_parking" id="PS5"  full= "pay station"        building = "PS5"  paystation-key= "PS5" alt="PS5"  title="" href="" coords="1023,1116,1077,1169" shape="rect">
                <area target="" class="ps_parking" id="PS6"  full= "pay station"        building = "PS6"  paystation-key= "PS6" alt="PS6"  title="" href="" coords="1778,1104,1828,1150" shape="rect">
                <area target="" class="ps_parking" id="PS7"  full= "pay station"        building = "PS7"  paystation-key= "PS7" alt="PS7"  title="" href="" coords="1914,363,1964,413" shape="rect">
                <area target="" class="ps_parking" id="PS8"  full= "pay station"        building = "PS8"  paystation-key= "PS8" alt="PS8"  title="" href="" coords="2795,532,2845,582" shape="rect">
                <area target="" class="ps_parking" id="PS9"  full= "pay station"        building = "PS9"  paystation-key= "PS9" alt="PS9"  title="" href="" coords="2924,939,2988,993" shape="rect">
                <area target="" class="ps_parking" id="PS10" full= "pay station"        building = "PS10" paystation-key= "PS10"alt="PS10" title="" href="" coords="2519,1407,2573,1453" shape="rect"></map>


        
        </div>
    </div>
</div>
<div id="details_box" class="col-sm-6">
    <h3 id="details_title"></h3>
    <p id="details_info"></p>
    <a id="details_link"></a>

</div>
<div class="col-sm-6">
</div>
<script src="/panzoom/panzoom.js"></script>
<script src="js/zoom.js"></script>
<script>
    var image_map = document.getElementById('image_map');
    Array.from(image_map.children).forEach(e => {
        e.removeAttribute("title");
    })
</script>
