<!DOCTYPE html>
<html>
<head>
    <title>BCIT Burnaby Campus Interactive Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/script.js"></script>
    <script src="/js/jquery.imagemapster.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://www.outsharked.com/scripts/jquery.imagemapster.js"></script>
    {{#if startCSS}}
        <link href="/css/start-stylesheet.css" rel="stylesheet">
    {{/if}}
    {{#if mainMenuCSS}}
        <link href="/css/main-menu-stylesheet.css" rel="stylesheet">
    {{/if}}
    {{#if basicNavCSS}}
        <link href="/css/basic-nav-stylesheet.css" rel="stylesheet">
    {{/if}}
    {{#if academicBuildingsCSS}}
        <link href="/css/academic-buildings-stylesheet.css" rel="stylesheet">
    {{/if}}
    {{#if servicesSupportsCSS}}
        <link href="/css/services-supports-stylesheet.css" rel="stylesheet">
    {{/if}}
    {{#if otherKeyPlacesCSS}}
        <link href="/css/other-key-places-stylesheet.css" rel="stylesheet">
    {{/if}}
    {{#if finishCSS}}
        <link href="/css/finish-stylesheet.css" rel="stylesheet">
    {{/if}}
</head>
<body>
    {{{ body }}}
</body>
</html>