<div class="heading">
    Academic Buildings
</div>
<div class="campus-map">
    <div class="col-sm-2">
        <div class="sidenav">
            <div class="sidenav-cont">
                <button class="dropdown-btn" onclick="selectAllBusiness()">School of Business
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button id="NEBuildings" onclick="selectNE()">NE Buildings</button>
                    <button id="NWBuildings" onclick="selectNW()">NW Buildings</button>
                    <button id="SEBUILDINGS" onclick="selectSE()">SE Buildings</button>
                    <button id="SWBuildings" onclick="selectSW()">SW Buildings</button>
                    <button id="CARIBuilding" onclick="selectCARI()">CARI</button>
                </div>
                <button class="dropdown-btn">School of Computing and Academic Studies
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button>SW03</button>
                    <button>SW05</button>
                    <button>SW05</button>
                    <button>NW01</button>
                </div>
                <button class="dropdown-btn">School of Construction and the Environment
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button>SW03</button>
                    <button>SW09</button>
                    <button>NW06</button>
                    <button>SE01</button>
                    <button>NE01</button>
                    <button>NE04</button>
                    <button>NE06</button>
                    <button>NE07</button>
                    <button>NE08</button>
                </div>
                <button class="dropdown-btn">School of Energy
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button>SW03</button>
                    <button>SW09</button>
                    <button>SW05</button>
                    <button>NW06</button>
                    <button>SE08</button>
                    <button>NE03</button>
                    <button>NE10</button>
                    <button>NE12</button>
                </div>
                <button class="dropdown-btn">School of Health Sciences
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button>SW03</button>
                    <button>SE09</button>
                    <button>SW05</button>
                    <button>NW01</button>
                </div>
                <button class="dropdown-btn">School of Transportation
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button>SE06</button>
                    <button>SE09</button>
                    <button>SW05</button>
                    <button>NW01</button>
                    <button>NE16</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <img src="/media/burnaby_campus_map.png" usemap="#image-map">
        <map name="image-map">
<!--            NE Buildings-->
            
            
<!--            NW Buildings-->
            
            
<!--            SE Buildings-->
            <area target="" class="SE" full="SE019 Building" id="SE019" building="SE019" alt="SE19" title="SE19" href="" coords="1732,143,1868,243" shape="rect">
            <area target="" class="SE" full="SE30 Building" id="SE30" building="SE30" alt="SE30" title="SE30" href="" coords="2530,179,2659,258" shape="rect">
            <area target="" class="SE" full="SE40 Building" id="SE40" building="SE40" alt="SE40" title="SE40" href="" coords="3411,163,3407,249,3429,249,3429,265,3479,265,3479,249,3497,249,3500,163" shape="poly">
            <area target="" class="SE" full="SE41 Building" id="SE41" building="SE41" alt="SE41" title="SE41" href="" coords="3304,251,3361,372" shape="rect">
            <area target="" class="SE" full="SE42 Building" id="SE42" building="SE42" alt="SE42" title="SE42" href="" coords="3393,357,3393,407,3468,407,3525,364,3525,285,3479,289,3483,339,3457,357" shape="poly">
            <area target="" class="SE" full="SE50 Building" id="SE50" building="SE50" alt="SE50" title="SE50" href="" coords="3679,174,3679,239,3647,239,3647,296,3726,292,3730,303,3776,303,3776,289,3801,289,3805,235,3762,235,3783,231,3783,217,3787,217,3790,203,3787,189,3765,174" shape="poly">
            
<!--            SW Buildings-->
            
            
<!--            CARI Building-->
            <area target="" class="CARI" full="CARI Building" id="CARI" building="CARI" alt="CARI" title="CARI" href="" coords="2437,1306,2487,1267,2530,1317,2570,1317,2638,1249,2695,1303,2723,1271,2817,1364,2709,1468,2688,1446,2630,1503,2573,1439,2534,1439,2484,1493,2437,1450,2494,1396,2491,1360" shape="poly">
        </map>
        {{!-- <form action="/main_menu" method="GET">
            <button type="submit" name="mainMenu" id="main-menu-btn">Main Menu</button>
        </form> --}}
        <button name="mainMenu" onclick="main_menu()" id="main-menu-btn">Main Menu</button>
    </div>
</div>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

    /* John's code for highlighting buildings */

    //intial tooltip enabling for all the buildings 
    /*
     $('img').mapster();
         $('area').bind('mouseover', function() {
          $('img').mapster('tooltip',this,$(this).attr('full'));
    
        });
    */

    /* Sets what key to use when mapping for mapster*/
    var basic_opts = {
        mapKey: 'building'
    };

    /* starting values for mapster */
    var initial_opts = $.extend({}, basic_opts,
        {
            staticbuilding: true,
            fill: false,
            stroke: true,
            strokeWidth: 2,
            strokeColor: 'ff0000'
        });
    /*
$(document).ready(function(){
    $('#NEBuildings').click(function() {
        selectGroup(); 
    });
    $('#SW09Building').click(function() {
        selectSW(); 
    });
    $('#SEBUILDINGS').click(function() {
        selectSE(); 
    });
    $('#NE01Building').click(function() {
        selectNE01(); 
    });

});*/

    /* group selection functions */
    function selectNE() {
        $('area').bind('mouseover', function () {
            $('img').mapster('tooltip');
        });
        $('img').mapster(initial_opts)
            .mapster('set', true, 'NE01,NE04,NE03,NE12,NE09,NE10', {
                fill: true,
                fillColor: '00ff00'
            })
            .mapster('snapshot')
            .mapster('rebind', basic_opts);
        $('#NE01,#NE04,#NE03,#NE12,#NE09,#NE10').bind('mouseover', function () {
            $('img').mapster('tooltip', this, $(this).attr('full'));

        });

    }

    function selectSE() {
        $('area').bind('mouseover', function () {
            $('img').mapster('tooltip');
        });
        $('img').mapster(initial_opts)
            .mapster('set', true, 'SE19,SE30,SE40,SE41,SE42,SE50', {
                fill: true,
                fillColor: '800000'
            })
            .mapster('snapshot')
            .mapster('rebind', basic_opts);
        $('#SE19,#SE30,#SE40,#SE41,#SE42,#SE50').bind('mouseover', function () {
            $('img').mapster('tooltip', this, $(this).attr('full'));

        });
    }

    function selectSW() {
        $('area').bind('mouseover', function () {
            $('img').mapster('tooltip');
        });
        $('img').mapster(initial_opts)
            .mapster('set', true, 'SW09', {
                fill: true,
                fillColor: 'FFFF00'
            })
            .mapster('snapshot')
            .mapster('rebind', basic_opts);
        $('#SW09').bind('mouseover', function () {
            $('img').mapster('tooltip', this, $(this).attr('full'));

        });
    }
    
    function selectCARI() {
        $('area').bind('mouseover', function () {
            $('img').mapster('tooltip');
        });
        $('img').mapster(initial_opts)
            .mapster('set', true, 'CARI', {
                fill: true,
                fillColor: 'FF0000'
            })
            .mapster('snapshot')
            .mapster('rebind', basic_opts);
        $('#CARI').bind('mouseover', function () {
            $('img').mapster('tooltip', this, $(this).attr('full'));

        });
    }

    function selectAllBusiness() {
        /*selects all business schools, disable for now*/
        /*
        $('img').mapster(initial_opts)
            .mapster('set',true,'NE01,NE04,NE03,NE12,NE09,NE10,SW09,SE06,SE16', {
                fill: true,
                fillColor: 'FFFF00'
            })
            .mapster('snapshot')
            //.mapster('rebind',basic_opts);
            $('area').bind('mouseover', function() {
              $('img').mapster('tooltip',this,$(this).attr('full'));
    
            });
            */
    }

    /* end group selection functions */
</script>