<div class="heading">
    Basic Navigation
</div>
<div class="campus-map">
    <div class="col-sm-2">
        <div class="sidenav">
            <div class="sidenav-cont">
                <button class="dropdown-btn">Timing
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button>Student Housing to NE01</button>
                    <button>Willingdon Avenue to Wayburne Drive</button>
                    <button>CARI Building to Wayburne Drive</button>
                </div>
                <button onclick="toggleDisplay(this), selectTransit(name)" value="bus_stops_overlay" name="T">Transit
                    Information
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    {{#each transit}}
                    <button onclick="selectNav('{{this.id}}', '{{this.name}}', '{{this.busRoute}}')">{{this.name}}</button>
                    {{/each}}
                    {{!-- <button onclick="selectNav(this.value)" value="CanadaN">Northbound Willingdon Ave @ Canada Way</button>
                    <button onclick="selectNav(this.value)" value="CanadaS">Southbound Willingdon Ave @ Canada Way</button>
                    <button onclick="selectNav(this.value)" value="GoardN">Northbound Willingdon Ave @ Goard Way</button>
                    <button onclick="selectNav(this.value)" value="GoardS">Southbound Willingdon Ave @ Goard Way</button>
                    <button onclick="selectNav(this.value)" value="SandersonN">Northbound Willingdon Ave @
                        Sanderson Way</button>
                    <button onclick="selectNav(this.value)" value="SandersonS">Southbound Willingdon Ave @
                        Sanderson Way</button>
                    <button onclick="selectNav(this.value)" value="DeerN">Northbound Willingdon Ave @ Deer Lake
                        Parkway</button>
                    <button onclick="selectNav(this.value)" value="WillingdonEB">Eastbound Canada Way @ Willingdon
                        Ave</button>
                    <button onclick="selectNav(this.value)" value="WillingdonWB">Westbound Canada Way @ Willingdon
                        Ave</button>
                    <button onclick="selectNav(this.value)" value="BetaE">Eastbound Canada Way @ Beta Ave</button>
                    <button onclick="selectNav(this.value)" value="BetaW">Westbound Canada Way @ Beta Ave</button>
                    <button onclick="selectNav(this.value)" value="MathissiE">Eastbound Sanderson Way @ Mathissi
                        Ave</button>
                    <button onclick="selectNav(this.value)" value="WillingdonED">Eastbound Deer Lake Parkway @
                        Willingdon Ave</button>
                    <button onclick="selectNav(this.value)" value="WayburneWD">Westbound Deer Lake Parkway @
                        Waybburne Dr</button> --}}
                </div>
                <button class="dropdown-btn" onclick="toggleDropdown(this), toggleDisplay(this)" value="bus_stops_overlay">Navigating Campus
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button>Campus Square</button>
                    <button onclick="toggleDisplay(this), selectNav(this.name)" name="CARI" value="bus_stops_overlay">CARI Building</button>
                    <button onclick="toggleDisplay(this), selectNav(this.name)" name="SE06" value="bus_stops_overlay">Telus Theatre</button>
                    <button onclick="toggleDisplay(this), selectNav(this.name)" name="SW10,SW11,SW12,SW13,SW14,SW15,SW16" value="bus_stops_overlay">Student Housing</button>
                    <button onclick="toggleDisplay(this), selectNav(this.name)" name="SE16" value="bus_stops_overlay">Recreation Centre</button>
                    <button>Trades Buildings</button>
                    <button onclick="toggleDisplay(this)" value="bike_overlay">Bicycle Route Information</button>
                    <button >Accessibility Routes</button>
                </div>
                <button class="dropdown-btn" onclick="toggleDropdown(this)">Parking Information
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container" >
                    <button onclick="toggleDisplay(this),selectParking(this.value,this.name)" category="sparking" name="LOTA,LOTB,LOTD,LOTF,LOTE,LOTG,LOTK,LOTL,LOTJ,LOTN,LOTQ,LOTS,LOTS2,LOTM,LOTH,LOTO,house" value="student_parking_overlay">Student Parking</button>
                   <!-- <button onclick="toggleDisplay(this),selectParking(this.value,this.name)" category="eparking" name="LOT7,LOT5,LOT12,LOT26,LOT27,LOT6,LOT62,LOT9,LOT4,LOT15,LOT22,LOT23,LOT21,LOT211,LOT212,LOT213,LOT214,LOT24,LOT25,LOT20,LOT29,LOT28,LOT281,LOT1,LOT10,LOT16,LOT19" value="employee_parking_overlay">Employee Parking</button>
                    <button onclick="toggleDisplay(this),selectParking(this.value,this.name)" category="vparking" name="LOTV1,LOTV2,LOTV3,LOTV4,LOTV5" value="visitor_parking_overlay">Visitor Parking</button> -->
                    <button onclick="toggleDisplay(this),selectParking(this.value,this.name)" name="HC01,HC02,HC03,HC04,HC05,HC06,HC07,HC08,HC09,HC10,HC11,HC12,HC13,HC14,HC15,HC16,HC17,HC18,HC19,HC20,HC21,HC22,HC23,HC24,HC25,HC26" value="handicap_overlay">Accessible Parking</button>
                    <button onclick="toggleDisplay(this),selectParking(this.value,this.name)" name="EV1,EV2,EV3,EV4,EV5" value="electrical_vehicle_overlay" >EV Charging</button>
                    <button onclick="toggleDisplay(this),selectParking(this.value,this.name)" name="CS1,CS2,CS3" value="car_share_overlay">Carshare Parking</button>
                    <button  onclick="toggleDisplay(this),selectParking(this.value,this.name)" name="PS1,PS2,PS3,PS4,PS5,PS6,PS7,PS8,PS9,PS10" value="pay_station_overlay">Pay Station</button>
                    <button  onclick="toggleDisplay(this),selectParking(this.value,this.name)" name="MC1,MC2,MC3,MC4,MC5,MC6,MC7,MC8" value="motorcycle_overlay">Motorcycle Area</button>
                    <button onclick="toggleDisplay(this),selectParking(this.value,this.name)" name="BR1,BR2,BR3,BR4" value="bike_repair_overlay">Bike Repair</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        {{>overlay}}
        <button name="mainMenu" onclick="main_menu()" id="main-menu-btn">Main Menu</button>
    </div>
</div>

<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>