<div class="heading">
    Basic Navigation
</div>
<div class="campus-map">
    <div class="col-sm-2">
        <div class="sidenav">
            <div class="sidenav-cont">
                <button class="dropdown-btn">Timing
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button>Student Housing to NE01</button>
                    <button>Willingdon Avenue to Wayburne Drive</button>
                    <button>CARI Building to Wayburne Drive</button>
                </div>
                <button class="dropdown-btn" onclick="toggleDropdown(this), toggleDisplay(this)" value="bus_stops_overlay">Transit Information
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button onclick="selectTransit(this.value)" value="CanadaN">Northbound Willingdon Ave @ Canada Way</button>
                    <button onclick="selectTransit(this.value)" value="CanadaS">Southbound Willingdon Ave @ Canada Way</button>
                    <button onclick="selectTransit(this.value)" value="GoardN">Northbound Willingdon Ave @ Goard Way</button>
                    <button onclick="selectTransit(this.value)" value="GoardS">Southbound Willingdon Ave @ Goard Way</button>
                    <button onclick="selectTransit(this.value)" value="SandersonN">Northbound Willingdon Ave @ Sanderson Way</button>
                    <button onclick="selectTransit(this.value)" value="SanderSonS">Southbound Willingdon Ave @ Sanderson Way</button>
                    <button onclick="selectTransit(this.value)" value="DeerN">Northbound Willingdon Ave @ Deer Lake Parkway</button>
                    <button onclick="selectTransit(this.value)" value="WillingdonEB">Eastbound Canada Way @ Willingdon Ave</button>
                    <button onclick="selectTransit(this.value)" value="WillingdonWB">Westbound Canada Way @ Willingdon Ave</button>
                    <button onclick="selectTransit(this.value)" value="BetaE">Eastbound Canada Way @ Beta Ave</button>
                    <button onclick="selectTransit(this.value)" value="BetaW">Westbound Canada Way @ Beta Ave</button>
                    <button onclick="selectTransit(this.value)" value="MathissiE">Eastbound Sanderson Way @ Mathissi Ave</button>
                    <button onclick="selectTransit(this.value)" value="WillingdonED">Eastbound Deer Lake Parkway @ Willingdon Ave</button>
                    <button onclick="selectTransit(this.value)" value="WayburneWD">Westbound Deer Lake Parkway @ Waybburne Dr</button>
                </div>
                <button class="dropdown-btn">Navigating Campus
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button>Campus Square</button>
                    <button>CARI Building</button>
                    <button>Telus Theatre</button>
                    <button>Student Housing</button>
                    <button>Recreation Centre</button>
                    <button>Trades Buildings</button>
                    <button>Accessibility Routes</button>
                </div>
                <button class="dropdown-btn" onclick="toggleDropdown(this)">Parking Information
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container" >
                    <button onclick="toggleDisplay(this),selectParking(this.value)" value="student_parking_overlay">Student Parking</button>
                    <button>Employee Parking</button>
                    <button>Visitor Parking</button>
                    <button>Accessible Parking</button>
                    <button>EV Charging</button>
                    <button>Carshare Parking</button>
                    <button>Pay Station</button>
                    <button>Motorcycle Area</button>
                    <button>Bike Repair</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        {{>overlay}}
        <button name="mainMenu" onclick="main_menu()" id="main-menu-btn">Main Menu</button>
    </div>
</div>

<script>
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
        } else {
            dropdownContent.style.display = "block";
        }
    });
}
</script>
