<img src="../media/finish_background.jpg" alt="Burnaby Campus">
<div class="col-sm-12">
    Congratulations! You've now learned the basics of navigating the BCIT Burnaby campus. If you use what you've learned once you arrive, you'll be able to find your way around in no time!<br><br>
    You must click "Finish" to complete this activity.
</div>
<div class="col-sm-6">
    <form class="main-menu-nav" action="/" method="GET">
        <button type="submit" name="basicNav" id="restart">Restart</button>
    </form>
</div>
<div class="col-sm-6">
    <button id="finish">Finish</button>
</div>


