<img src="../media/finish_background.jpg" alt="Burnaby Campus">
<div class="col-sm-12">
    <div id="finish-msg">
        Congratulations! You have now learned the basics of navigating BCIT's Burnaby Campus!<br><br>
        Use what you learned in this activity to help orient yourself on campus during your first days at school!<br>
        <button onclick="start()">RESTART ></button>
        <button>FINISH ></button>
    </div>
</div>