<div class="heading">
  Main Menu
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-5 main-menu-nav">
      <button onclick="basic_nav()" name="basicNav">BASIC NAVIGATION ></button>
      <button onclick="academic_buildings()" name="academicBuildings">ACADEMIC BUILDINGS ></button>
      <button onclick="services_supports()" name="servicesSupports">CAMPUS SERVICES ></button>
      <button onclick="other_key_places()" name="otherKeyPlaces">OTHER KEY PLACES ></button>
      <button onclick="finish()" name="otherKeyPlaces">FINISH ></button>
    </div>
    <div class="col-sm-7">
      Finding your way around any new place can be difficult and BCIT is no different. While the best way to learn to navigate campus is to do it every day, this activity will help you learn the basics before you even arrive!<br><br>
      Explore each of the sections on the left to get familiar with our campus layout, important buildings and services, and to learn some of current students' favourite places.<br><br>
      <i>Not going to be on campus? Many campus services and supports are still available to you!</i>
    </div>
  </div>
</div>