<div class="heading">
    Other Key Places
</div>
<div id="campus-map" class="campus-map">
    <div class="sidenav">
        <div id="sidenav" class="sidenav-cont">
            {{!-- button here --}}
        </div>
    </div>
    <div id="map_area" class="mapsection">
        {{>overlay}}
        <button name="mainMenu" onclick="main_menu()" id="main-menu-btn">Main Menu</button>
    </div>
</div>
<div id="loading" class="d-flex justify-content-center align-items-center" style="height: 100%">
    <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<script src="/panzoom/panzoom.js"></script>
<script src="js/zoom.js"></script>
<script src="js/food.js"></script>