<div class="heading">
    Other Key Places
</div>
<div class="campus-map">
    <div class="col-sm-2">
        <div class="sidenav">
            <div class="sidenav-cont">
                <button class="dropdown-btn">Food &amp; Coffee
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button id="AllDayBreakfast" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE12">All-Day Breakfast &amp; Lunch</button>
                    <button id="AustinGrillService" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE12">Austin Grill Express</button>
                    <button id="BoosterJuice" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE14">Booster Juice</button>
                    <button id="CampusCafe" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE12">Campus Café</button>
                    <button id="CARICafeteria" onclick="selectKeyPlaces(this.value, this.innerText)" value="CARI">CARI Cafeteria</button>
                    <button id="ETCCafe" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE01">E.T.C. Café</button>
                    <button id="FuseCafe" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE01">Fuse Café</button>
                    <button id="GatewayCare" onclick="selectKeyPlaces(this.value, this.innerText)" value="SW01">Gateway Café</button>
                    <button id="GrillNCo" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE01">Grill &amp; Co</button>
                    <button id="HabitatPub" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE16">Habitat Pub</button>
                    <button id="JWInglisCafe" onclick="selectKeyPlaces(this.value, this.innerText)" value="NE01">J.W. Inglis Café</button>
                    <button id="LibraryCoffeePod" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE14">Library Coffee Pod</button>
                    <button id="MarketKitchen" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE02">Market Kitchen</button>
                    <button id="PokePick" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE02">Poké Pick</button>
                    <button id="RoyalOakCafe" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE40">Royal Oak Café</button>
                    <button id="Smokes" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE12">Smokes Poutinerie</button>
                    <button id="Pavillion" onclick="selectKeyPlaces(this.value, this.innerText)" value="NE01">The Pavillion</button>
                    <button id="RixClub" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE06">The Rix Club</button>
                    <button id="TimHortons" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE12">Tim Hortons</button>
                    <button id="TimHortonsExpress" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE01">Tim Hortons Express</button>
                    <button id="TownSquareMarket" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE02">Town Square Market</button>
                    <button id="TripleOs" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE02">Triple O's</button>
                    <button id="Stand" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE02,SE12">The Stand</button>
                </div>
                <button id="Microwaves" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE02">Microwaves</button>
                <button class="dropdown-btn">Social
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button id="Games" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE16">Ping Pong &amp; Foosball</button>
                    <button id="Pool" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE16">Pool in the Habitat Pub</button>
                    <button id="Events" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE02">Events in the Great Hall</button>
                </div>
                <button class="dropdown-btn">Study Areas
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button id="LibraryEhpod" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE14">Library &amp; ehPod</button>
                    <button id="StudyRooms" onclick="selectKeyPlaces(this.value, this.innerText)" value="SE02,SW01">Study Areas and Rooms</button>
                </div>
                
            </div>
        </div>
    </div>
    <div id="map_area" class="col-sm-10">
        {{>overlay}}
        <div id="details_box" class="col-sm-6">
            <h3 id="details_title"></h3>
            <p id="details_info"></p>
            <p id="details_link"></p>
        </div>
        <div class="col-sm-6">
        </div>
        <button name="mainMenu" onclick="main_menu()" id="main-menu-btn">Main Menu</button>
    </div>
</div>

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>