<img src="../media/start_background.jpg" alt="Burnaby Campus">
<div class="col-sm-12">
    How do I navigate the Burnaby campus?
    {{!-- <form class="main-menu-nav" action="/main_menu" method="GET">
        <button type="submit" name="basicNav">Start Activity</button>
    </form> --}}
    <button onclick="main_menu()" name="basicNav">Start Activity</button>
</div>