<img src="../media/start_background.jpg" alt="Burnaby Campus">
<div class="col-sm-12">
    <div id="start-msg">
        How do You Navigate the Burnaby Campus?
        <button onclick="main_menu()" name="basicNav">START HERE ></button>
    </div>
</div>