body {
    overflow-x: hidden;
}

.heading {
    width: 2500px;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    padding: 30px 0 0 50px;
}

.campus-map img {
    margin-left: auto;
    padding-top: 30px;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
}

#main-menu-btn {
    width: 130px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    float: right;
    vertical-align: bottom;
    margin-top: 100px;
    margin-right: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.col-sm-2 {
  height: 100%;
  width: 176px;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: absolute;
}

.col-sm-10 {
    margin-left: 200px;
    padding-right: 0;
}

.sidenav-cont {
  width: 100%;
  float: right;
}

.col-sm-2 button, .school-btn {
  padding: 10px;   
  text-decoration: none;
  font-size: 13px;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.school-btn {
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.active::after {
    font-weight: 900;
    display: inline-block;
    padding-right: 15px;
    font-size: 180%;
}

.col-sm-2 button:hover, .school-btn:hover{
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.active:hover{
  border-top-left-radius: 40px;
  border-bottom-left-radius: 0;
}

area { 
  display: none;
}

#campus_entrances_overlay {
  position: relative;
  top: 0px;
  left: 0px;    
}

#image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}    

#image_map {
  position: absolute;
  top: 0px;
  left: 0px; 
}

area {
  position: absolute;
  top: 0px;
  left: 0px;
}

#bike_overlay,
#bike_repair_overlay,
#bus_stops_overlay, 
#car_share_overlay,
#employee_parking_overlay, 
#electrical_vehicle_overlay,
#evcsbr_parking_overlay,
#first_aid_overlay, 
#food_services_overlay,
#handicap_merged,
#handicap_overlay,
#motorcycle_overlay,
#pay_station_overlay,
#security_overlay,
#student_parking_merged,
#student_parking_overlay,
#visitor_parking_overlay,
#timing_overlay {
  display: none
}

#map_area {
  position: relative;
  display: inline-block; 
  overflow: auto;    
}

.mapster_tooltip {
  pointer-events: none;
}