.jumbotron {
    background-color: #003c71;
    color: white;
}

.jumbotron h3 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}
.main-menu-nav button {
    width: 275px;
    height: 60px;
    color: #003c71;
    background-color: #ffea2e;
    border: 2px solid #ffea2e;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 20px;
}

.col-sm-7 {
    font-size: 19px;
}