img {
    height: 100%;
    width: 100%;
    margin: auto;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.col-sm-12 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgba(76, 99, 80, 0.5);
    width: 80%;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    color: #003c71;
    background-color: #ffea2e;
    width: 150px;
    height: 40px;
    text-align: inherit;
    border: 2px solid #ffea2e;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    display: flex;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    justify-content: center;
}